body {
    margin: 0;
}

.main-navbar {
    padding: 1em 0;
    background: #d33a2c;
    position: relative;
    min-height: 5.9375rem;
}
 
.logo{
    top: 20px;
    width: 16%;
    float: left;
    height: 80px;
    line-height: 80px;
    text-align: center;
    position: relative;
    background-color: white;
    display: inline-block;
}
.logo img {
    height: 3.75em;
}
 
 .container-nav{
    height: 129px;
    overflow: hidden;
 }
 div {
    display: block;
}
.container-navbar-text{
    width: 100%;
    padding: 0 2em;
    position: relative;
}
.logo-and-text{
    top: -18px;
    width: 62%;
    float: left;
    height: 129px;
    margin-left: 1%;
    position: relative;
    display: inline-block;
}
 .all-item{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.list-item{
    float: left;
    width: 112px;
    height: 90px;
    font-size: 14px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    background-color: #999;
}
.search-button{
    top: 40px;
    width: 12%;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    position: relative;
    text-align: center;
    background-color: #ccc;
    display: inline-block;
}
.see-all-latest-articles{
    text-align: center;
    padding: 1em 0 5em;

}
.coming-up-next{
    text-align: center;
    height: 500px;
    background:#ccc;

}
.third-text {
    font-size: 1.2em;
    max-width: 55vw;
    margin: 1em auto 2em;
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
    line-height: calc(1.5em + .2vw);
    word-break: break-word;
    color:black;
}
 
.conf-panel {
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    font-size: .8em;
    font-weight: 700;
    display: block;
    color: white;
    
}
a:hover {
    color: red;
  }
a.load-articles-link {
        text-transform: lowercase;
        -ms-font-feature-settings: 'smcp' 1,'c2sc' 1;
        -o-font-feature-settings: 'smcp' 1,'c2sc' 1;
        -webkit-font-feature-settings: 'smcp' 1,'c2sc' 1;
        font-feature-settings: 'smcp' 1,'c2sc' 1;
        letter-spacing: 1px;
        font-variant: small-caps;
        text-transform: lowercase;
        background-position: center 72%;
        text-transform: uppercase;
        font-size: .75em;
     
        text-decoration: none;
       
        border-bottom: 5px solid #d33a2c;
        letter-spacing: 1px;
        -webkit-transition: all .1s ease-out;
        transition: all .1s ease-out;
        display: inline-block;
        padding: 1.25em 0 .5em;
        cursor: pointer;
}